<div class="bg-default h-100">
  <div class="border-bottom border-warning row m-0" style="height: 60px;">
    <div class="col-12 col-md-1 offset-md-2">
      <img src="/assets/imdb-4096.png" class="img-fluid" style="height: 60px; width: 60px;" />
    </div>
    <div class="col-12 col-md-6 align-items-center d-flex">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar"
          aria-describedby="basic-addon1" [(ngModel)]="pesquisa" (keydown)="procurarFilme($event)">
        <span class="input-group-text" style="cursor: pointer" id="basic-addon1" (click)="procurarFilme()"><i
            class="fa-solid fa-magnifying-glass"></i></span>
      </div>
    </div>
  </div>

  @if (resultadoPesquisa && resultadoPesquisa.length) {
  <div class="m-4">
    <h1 class="text-warning ms-2">Resultados da sua busca</h1>
    <div class="row m-0 g-2 d-flex align-items-stretch">
      @for (item of resultadoPesquisa; track item.id) {
        @if (item.i) {
        <div class="col-12 col-md-6 col-lg-3" (click)="showModalPesquisa(item)">
          <div class="card h-100" style="width: 18rem; background-color: #111;">
            <img [src]="item.i.imageUrl" class="card-img-top">
          </div>
        </div>
        }
      }
    </div>
  </div>
  } @else if (emBreve && emBreve.length) {
  <div class="m-4">
    <h1 class="text-warning ms-2">Em breve!</h1>
    <div class="row m-0 g-2 d-flex align-items-stretch">
      @for (item of emBreve; track item.id) {
      <div class="col-12 col-md-6 col-lg-3" (click)="showModalEmBreve(item)">
        <div class="card h-100" style="width: 18rem; background-color: #111;">
          <img [src]="item.primaryImage.url" class="card-img-top">
        </div>
      </div>
      }
    </div>
  </div>
  }

</div>

<app-modal></app-modal>